
.Container{
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 25px 0;
        background: linear-gradient(90deg, #050b5c, #1a73e8);
        box-shadow: 0 3px 5px 0 rgb(0 4 56 / 50%);
        z-index: 9;
        font-family: 'Roboto';
}

.List {

    list-style: none;
        display: flex;
        align-items: center;
}

.Item{
    margin-right: 25px;
        transform: scale(1);
        transition: transform 250ms;
    
        :hover {
            transform: scale(1.1);
        }
    
        :last-child {
            margin-right: 0;
        }
}

.NavLink{
    font-size: 20px;
        color: #ffffff;
        transition: opacity 250ms;
        text-decoration: none;
    
        &.active {
            text-decoration: underline;
        }
    
        :hover {
            opacity: 0.8;
        }
}