.List{
list-style: none;
}

.Item{
    border: 1px solid #161616;
border-radius: 5px;
padding: 15px;
margin-bottom: 15px;
}

.Title{
    color: #050b5c;
margin-bottom: 15px;
}

.Text{
    line-height: 2;
}
